  <tr>
    <td>{{email}}</td>
    <td>{{name}}</td>
    <td>{{phone-number}}</td>
    <td>{{twitter}}</td>
    <td>
      <button id ="remove" type="button" class="btn btn-danger btn-xs">Remove</button>
      <button id ="update" type="button" class="btn btn-info btn-xs">Update</button>
    </td>
  </tr>
